/* Core Styles */

body {
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #333;
    color: #fff;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;

}

img {
    display: block;
    width: 100%;
    height: auto;
}

h1,h2,h3 {
    margin: 0;
    padding: 1em 0;
}

p {
    margin: 0;
    padding: 1em 0;

}

.btn{
    display: inline-block;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    padding: 1em 2em;
    border: 1px solid #6666;
    margin: .5em 0;
}

.btn:hover{
    background: #eaeaea;
    color: #333; 
}

/* Header Showcase */

#showcase{
    min-height: 450px;
    color: #fff;
    text-align: center;
}
#showcase .bg-image{
    position:absolute;
    background: #333 url('https://images.pexels.com/photos/3584994/pexels-photo-3584994.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    z-index: -1;
    opacity: 0.3;

}

#showcase h1{
    padding-top: 100px;
    padding-bottom: 0;
}

#showcase .content-wrap,
#section-a .content-wrap
 {
    padding: 0 1.5em;
}

/* Section A */

#section-a{
    background: #eaeaea;
    color: #333;
    padding: 2em;
}

/* Section B */

#section-b ul {
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1em;
}
#section-b li{
    margin: 1em;
    background: #fff;
    color: #333;
}


.card-content
{
    padding: 1.5em;
}


/* Section C */

#section-c{
    background: #fff;
    color: #333;
    padding: 2em;
}

/* Secction D / Box */

#section-d .box {
    padding:2em;
    color: #fff;
}

#section-d .box:first-child{
    background-color: #2690d4;
}

/* Footer */

#main-footer
{
    padding:2em;
    background-color: #000;
    color: #fff;
    text-align: center;

}

#main-footer a{
    color: #2690d4;
    text-decoration: none;
}


/* Media Querry */
/* This is to make sure that our website is responsive in all the devices. 
While making this weebsite we designed it first using the "Mobile Design First" 
method.So it looked amazing in smaller dimension. Now it's time to make it 
for big screen widths. So, we are going to use this 
media querry functionality. */

@media(min-width: 700px)
{
    .grid{
        display: grid;
        grid-template-columns: 1fr repeat(2,minmax(auto,25em)) 1fr;
    }
    /* here we are adding a minmax function because we have make sure
    that the contents arrange at the center 2-columns by equally increasing 
    the size of the 3,4 columns. */

    #section-a .content-text{
        columns: 2;
        column-gap: 2em;

     }

     #section-a .content-text p{
         padding-top: 0;
     }


     #section-b img:hover{

        transition: 0.5s;
        transform: scale(1.1);

     }
    
     #section-b .card-content1:hover{
         
        transition: 0.5s;
        transform: scale(1.1);
     }
    .content-wrap,
    #section-b ul{
        grid-column: 2/4;
    }

    .box, #main-footer div{
        grid-column: span 2;
    }
    /* Here we are adding the span functionality because we have to 
    make the contents get spanned between two columns(if doubt go the page 
    source and find it*/

    #section-b ul{
        display: flex;
    }

    #section-b li{
        width: 51%;
        justify-content: space-around;
    }
 }

